<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowPilot - Sobre</title>
    <link rel="stylesheet" href="../static/css/pages.css">
</head>
<body>
    <header class="cabecalho">
        <a href="../index.html"><img src="../static/imagens/logo2.png"></a>
        <nav class="menu">
            <ul>
                <li><a href="sobre.html">Quem somos?</a></li>
                <li><a href="recursos.html">Recursos</a></li>
                <li><a href="contato.html">Contatos</a></li>
                <li><a href="plano.html">Planos</a></li>
            </ul>
        </nav>
    </header>
    <main class="corpo-site">
        <h1>O que é FlowPilot?</h1>
        <div class="texto_imagem">
            <div class="texto">
                <p>O FlowPilot é uma plataforma digital inovadora voltada para a gestão e automação de processos empresariais. Ela permite que empresas organizem seus fluxos de trabalho, automatizem tarefas repetitivas e acompanhem o desempenho de suas operações de maneira simples e eficiente. Com recursos intuitivos e totalmente personalizáveis, a ferramenta ajuda equipes a trabalharem de forma mais integrada, ágil e produtiva.</p>
                <ul>
                    <li><img src="../static/imagens/icone_plus.png">Fluxo de trabalho</li>
                    <li><img src="../static/imagens/icone_plus.png">Automação de tarefas</li>
                    <li><img src="../static/imagens/icone_plus.png">Dinâmica</li>
                </ul>
            </div>
            <img src="../static/imagens/tela.png">
        </div>        
    </main>
</body>
</html>